[submodule "external/enumGen"]
	path = external/enumGen
	url = https://github.com/mensinda/enumGen.git
[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "external/gl3w"]
	path = external/gl3w
	url = https://github.com/skaslev/gl3w
[submodule "external/lodepng"]
	path = external/lodepng
	url = https://github.com/lvandeve/lodepng.git
[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "external/cub"]
	path = external/cub
	url = https://github.com/NVlabs/cub.git
